.nav{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 4rem;
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: var.$color-primary;
        & + li{
            margin-left: 2rem;
        }
    }
}