$root-font-size: 10px;
$root-font-size-minimum: 8px;

//반응형 분기 사이즈
$screen-sm: 360px;
$screen-md: 768px;
$screen-lg: 1024px;

// - font weight
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$font-weight-extrabold: 900;

// - primary colors
$color-primary: #FFC737;
$color-primary900: #FFCD4B;
$color-primary800: #FFD25F;
$color-primary700: #FFD873;
$color-primary600: #FFDD87;
$color-primary500: #FFE39B;
$color-primary400: #FFE9AF;
$color-primary300: #FFEEC3;
$color-primary200: #FFF4D7;
$color-primary100: #FFF9EB;

// - grayscale colors
$color-grayBase: #222;
$color-gray900: #393837;
$color-gray800: #4F4E4D;
$color-gray700: #656464;
$color-gray600: #7B7A7A;
$color-gray500: #919190;
$color-gray400: #A7A7A6;
$color-gray300: #BDBDBC;
$color-gray200: #D3D3D3;
$color-gray100: #E9E9E9;
$color-gray50: #F4F4F4;
$color-gray20: #FBFBFB;

// - negative colors
$color-negative: #D51900;
$color-negative900: #D93019;
$color-negative800: #DD4733;
$color-negative500: #EA8C80;
$color-negative400: #EEA399;
$color-negative300: #F2BAB2;
$color-negative200: #F7D1CC;
$color-negative100: #FBE8E5;

// -  caution colors
$color-caution: #E94C09;
$color-caution500: #F4A684;
$color-caution400: #F6B79D;
$color-caution300: #F8C9B5;
$color-caution200: #FBDBCE;
$color-caution100: #FDEDE6;

// - rest colors
$color-rest: #0B9C38;
$color-rest500: #85CE9B;
$color-rest400: #9DD7AF;
$color-rest300: #B6E1C3;
$color-rest200: #CEEBD7;
$color-rest100: #E7F5EB;

// - common colors
$color-common: #098A8A;
$color-common500: #84C5C5;
$color-common400: #9DD0D0;
$color-common300: #B5DCDC;
$color-common200: #CEE8E8;
$color-common100: #E6F3F3;

// - red colod
$color-red-1: #ED2F15;
$color-red-2: #FDEAE8;

// - white color
$color-white: #ffffff;

//- disabled color
$color-disabled-1: #b0ccf6;

// - shadow color
$shadow: 2px 2px 8px 0px rgba(54, 59, 66, 0.2);
